{% extends 'base.html' %}
{% load static %}
{% block content %}



<body class="app">
	<header class="app-header fixed-top">
		{% include 'board/navbar.html' %} 
		{% include 'board/sidebar.html' %}
	</header>
	<!--//app-header-->

    <body class="app">
    <header class="app-header fixed-top">
        {% include 'board/navbar.html' %}
        {% include 'board/sidebar.html' %}
    </header>
    <!--//app-header-->









    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <h1 class="app-page-title">Manage Leaves</h1>
                <div class="row g-4 mb-4">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-header p-3 border-0">
                            <h4 class="app-card-title">Add New Leaves</h4>
                        </div>
                        <!--//app-card-header-->
                        <div class="app-card-body">
                            <form class="settings-form">
                                <div class="mb-3">
                                    <label for="setting-input-1" class="form-label">Leave Type<span class="ms-2" data-bs-container="body"
                                            data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top"
                                            data-bs-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg></span></label>
                                    <input type="text" class="form-control" id="setting-input-1" placeholder="Annual Leave." required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Duration Assigned (in days)</label>
                                    <input type="number" class="form-control" id="setting-input-2" placeholder="12" required>
                                </div>
                                <div class="mb-3">
                                    <label for="setting-input-3" class="form-label"> Assigned</label>
                                    <input type="text" class="form-control" id="setting-input-3" placeholder="John Doe">
                                </div>
                                <button type="submit" class="btn app-btn-primary">Save</button>
                            </form>
                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//row-->
            </div>
            <!--//container-fluid-->
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-pending" role="tabpanel"
                    aria-labelledby="orders-pending-tab">
                    <div class="app-card app-card-orders-table mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">s/no</th>
                                            <th class="cell">Huduma Name</th>
                                            <th class="cell">Location</th>
                                            <th class="cell">CM Assigned</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if pending %}
                                        {% for p in pending %}
                                        <tr>
                                            <td class="cell">232</td>
                                            <td class="cell"><span class="truncate">{{ p.employee}}</span></td>
                                            <td class="cell">{{ p.description }}</td>
                                            <td class="cell"><span class="cell-data">{{ p.posting_date }}</span>
                                            </td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    data-id="{{p.id}}"
                                                    data-admin-remarks="{{ p.admin_remarks|default:'N/A' }}"
                                                    data-employee-name="{{ p.employee}}" data-bs-toggle="modal"
                                                    data-bs-target="#staticBackdrop" href="#">View</a></td>


                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="8">No leave applications found.</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->
                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->
        </div>
        <!--//app-content-->

        <footer class="app-footer">
            <div class="container text-center py-3">
                <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                                                                                           style="color: #fb866a;"></i>
                    by <a class="app-link" href="http://themes.3rdwavemedia.com"
                          target="_blank">Nandi Dev</a> for developers</small>

            </div>
        </footer>
        <!--//app-footer-->

    </div>
    <!--//app-wrapper-->

{% endblock %}
{% block title %}Home{% endblock %}