{% extends 'base.html' %}
{% load static %}
{% block content %}


    <body class="app">
    <header class="app-header fixed-top">
        {% include 'board/navbar.html' %}
        {% include 'board/sidebar.html' %}
    </header>
    <!--//app-header-->

    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Manage Employees</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="table-search-form row gx-1 align-items-center">
                                        <div class="col-auto">
                                            <input type="text" id="search-orders" name="searchorders"
                                                   class="form-control search-orders" placeholder="Search">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn app-btn-secondary">Search</button>
                                        </div>
                                    </form>

                                </div>
                                <!--//col-->
                                <div class="col-auto">

                                    <select class="form-select w-auto">
                                        <option selected value="option-1">All</option>
                                        <option value="option-2">This week</option>
                                        <option value="option-3">This month</option>
                                        <option value="option-4">Last 3 months</option>

                                    </select>
                                </div>
                                <div class="col-auto">
                                    <a class="btn app-btn-secondary" href="#">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path fill-rule="evenodd"
                                                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                        Download CSV
                                    </a>
                                </div>
                            </div>
                            <!--//row-->
                        </div>
                        <!--//table-utilities-->
                    </div>
                    <!--//col-auto-->
                </div>
                <!--//row-->


                <div class="tab-pane" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                    <tr>
                                        <th class="cell">s/no{{ forloop.counter }}</th>
                                        <th class="cell">Emp/Name</th>
                                        <th class="cell">Email</th>
                                        <th class="cell">Total Leaves</th>
                                        <th class="cell">Status</th>
                                        <th class="cell">PhoneNumber</th>
                                        <th class="cell">Centre</th>
                                        <th class="cell">Profile</th>
                                        <th class="cell"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if employees %}

                                        {% for e in employees %}
                                            <tr>
                                                <td class="cell">{{ forloop.counter }}</td>
                                                <td class="cell"><span class="truncate">{{ e.first_name }}
                                                    {{ e.last_name }}</span></td>
                                                <td class="cell">{{ e.email }}</td>
                                                <td class="cell"><span>{{ e.total_leave_days }}</span></td>
                                                <td class="cell"><span class="badge bg-success">Active</span></td>
                                                <td class="cell">{{ e.phone_number }}</td>
                                                <td class="cell">{{ e.huduma_centre }}</td>
                                                <td class="cell">
                                                    {% if e.profile_picture %}
                                                        <img src="{{ e.profile_picture }}" alt="Profile Picture"
                                                             style="width: 25px; height: 25px;">
                                                    {% else %}
                                                        <img src="{% static 'images/users/def.png' %}"
                                                             alt="Default Profile Picture"
                                                             style="width: 25px; height: 25px;">
                                                    {% endif %}
                                                </td>


                                                <td class="cell">
                                                    <a class="btn-sm app-btn-secondary" data-id="{{ e.id }}"
                                                       data-first-name="{{ e.first_name }}"
                                                       data-last-name="{{ e.last_name }}"
                                                       data-phonenumber="{{ e.phone_number }}"
                                                       data-email="{{ e.email }}"
                                                       data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Edit</a>
                                                       <button type="button" class="btn btn-outline-danger">Delete</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            
                                            <td colspan="7" class="text-center">Employees found.</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <!-- Previous Button -->
                            {% if employees.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ employees.previous_page }}" tabindex="-1"
                                       aria-disabled="true">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                            {% endif %}

                            <!-- Page Numbers -->
                            {% for num in employees.paginator.page_range %}
                                {% if employees.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <!-- Next Button -->
                            {% if employees.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ employees.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>


                    <!--//app-pagination-->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->


        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Employee Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="app-card app-card-settings shadow-sm p-4">
                        <div class="app-card-body">
                            <form class="settings-form">
                                <!-- User Information Section -->
                                <div class="mb-2">
                                    <strong>First Name: <span id="modalFirstName"></span></strong>
                                </div>
                                <div class="mb-2">
                                    <strong>Last Name: <span id="modalLastName"></span></strong>
                                </div>
                                <div class="mb-2">
                                    <strong>Email: <span id="modalEmail"></span></strong>
                                </div>
                                <div class="mb-2">
                                    <strong>Phone Number: <span id="modalPhonenumber"></span></strong>
                                </div>
                                <div class="mb-4">
                                    <strong>Status:</strong>
                                    <span class="badge bg-success">Active</span>
                                </div>

                                <!-- Status Selection Section -->
                                <div class="mb-3">
                                    <label for="setting-input-3" class="form-label">Status</label>
                                    <select class="form-select" name="status" id="setting-input-3" aria-label="Status">
                                        <option selected value="">Select Status</option>
                                        {% for centre in huduma_centre %}
                                            <option value="{{ centre.id }}">{{ centre.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Action Buttons -->
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <a class="btn app-btn-primary" href="#">Update Status</a>
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- <div class="modal-footer">
                            <button type="button" class="btn app-btn-secondary" data-bs-dismiss="modal"> Close</button>
                            <button type="button" class="btn app-btn-primary">Pay Now</button>
                        </div> -->
            </div>
        </div>
    </div>

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                                                                                       style="color: #fb866a;"></i> by
                <a class="app-link" href="http://themes.3rdwavemedia.com"
                   target="_blank">Nandi Dev</a> for Huduma</small>

        </div>
    </footer>
    <!--//app-footer-->

    </body>
    <!--//app-wrapper-->
    <script>
        // JavaScript to handle modal data population
        const staticBackdropModal = document.getElementById('staticBackdrop');

        staticBackdropModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            const button = event.relatedTarget;

            // Extract data from attributes
            const firstname = button.getAttribute('data-first-name');
            const lastname = button.getAttribute('data-last-name');
            const email = button.getAttribute('data-email');
            const phonenumber = button.getAttribute('data-phonenumber');


            // Update modal content
            document.getElementById('modalFirstName').textContent = firstname;
            document.getElementById('modalLastName').textContent = lastname;
            document.getElementById('modalPhonenumber').textContent = phonenumber;
            document.getElementById('modalEmail').textContent = email;
        });
    </script>
{% endblock %}
{% block title %}Home{% endblock %}