{% extends 'base.html' %}
{% load static %}
{% block content %}

    class="app">
    <header class="app-header fixed-top">
        {#    nav bar#}
        {% include 'navbar.html' %}
        {#    end of nav bar#}

        <!--//app-header-inner-->
        {% include 'sidebar.html' %}

        <div class="app-wrapper">

            <div class="app-content pt-3 p-md-3 p-lg-4 mt-4">
                <div class="container-xl">

                    <h1 class="app-page-title">Apply Leave</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-12 ">
                            <div class="app-card app-card-settings shadow-sm p-4">

{#                                <div class="app-card-body"><#}
								{% include 'alerts.html' %}


                                <form class="settings-form row" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12 col-lg-6">
                                        <div class="mb-3">
                                            <label for="setting-input-1" class="form-label">From Date<span class="ms-2"
                                                                                                           data-bs-container="body"
                                                                                                           data-bs-toggle="popover"
                                                                                                           data-bs-trigger="hover focus"
                                                                                                           data-bs-placement="top"
                                                                                                           data-bs-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                    width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-info-circle" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	  <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
	  <circle cx="8" cy="4.5" r="1"/>
	</svg></span></label>
                                            <input type="date" class="form-control" name="from_date"
											id="myDate" onfocus="disablePastDates()" onchange="setMinDate()" value="Lorem Ipsum Ltd." required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="mb-3">
                                            <label for="setting-input-1" class="form-label">To Date<span class="ms-2"
                                                                                                         data-bs-container="body"
                                                                                                         data-bs-toggle="popover"
                                                                                                         data-bs-trigger="hover focus"
                                                                                                         data-bs-placement="top"
                                                                                                         data-bs-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                    width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-info-circle" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	  <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
	  <circle cx="8" cy="4.5" r="1"/>
	</svg></span></label>
                                            <input type="date" class="form-control" name="to_date" id="endDate"
                                                   value="Lorem Ipsum Ltd." required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="setting-input-2" class="form-label">Select Type</label>
                                        <select class="form-select" name="leave_type" id="setting-input-2"
                                                aria-label="Default select example">
                                            <option value="">-- Select Leave Type --</option>
                                            <option value="SL">Sick Leave</option>
                                            <option value="CL">Casual Leave</option>
                                            <option value="EL">Emergency Leave</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="setting-input-3" class="form-label">Description</label>
                                        <textarea class="form-control" name="description"
                                                  id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn app-btn-primary">APPLY</button>
                                </form>
                            </div><!--//app-card-body-->

                        </div><!--//app-card-->
                    </div>
                </div>
                <!--//row-->
            </div>
            <!--//container-fluid-->
        </div>
        <!--//app-content-->

        <footer class="app-footer">
            <div class="container text-center py-3">
                <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                                                                                           style="color: #fb866a;"></i>
                    by <a class="app-link" href="http://themes.3rdwavemedia.com"
                          target="_blank">Nandi Dev</a> For developers</small>

            </div>
        </footer>
        <!--//app-footer-->

        </div>
        <!--//app-wrapper-->
    </header>>
    <script> // Check if there is a success message, then delay redirect
  {% if messages %}
    {% for message in messages %}
      {% if "success" in message.tags %}
        setTimeout(function() {
          window.location.href = "{% url 'dash' %}";
        }, 3000); // Delay for 5000 ms (5 seconds)
      {% endif %}
    {% endfor %}
  {% endif %}

  
        function disablePastDates(){

            var today = new Date();
            today.setDate(today.getDate() + 7);
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm +'-'+ dd;
            document.getElementById("myDate").setAttribute("min", today);
        } 
		
		function setMinDate() {
			// Get the selected date from the first date input
			var selectedDate = document.getElementById("myDate").value;
	
			if (selectedDate) {
				// Set the minimum date of the second date input
				document.getElementById("endDate").setAttribute("min", selectedDate);
			}
		}
  
 
 
  </script>
{% endblock %}
{% block title %} home {% endblock %}