<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<<body>
    <p>Hello,{{ user.first_name }}</p>
    
    <p>We are writing to confirm that your password has been successfully changed. If you did not initiate this request, please reach out to our support team immediately so we can assist you further.</p>

    <p> Should you need any further assistance, feel free to contact us anytime.</p>

    <p>Thank you once again for your commitment, and we look forward to working together to achieve even greater success!</p>
</body>


</html>